.container {
  padding-right: 30px;
  padding-left: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.to-delete {
  display: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  transform: translateX(-150px);

  &--tosave {
    width: 400px;
  }
}

.popup p {
  caret-color: transparent;
}

.popup__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  border: 1px solid $color-turquoise;
  outline: none;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 1px;
    height: 20px;
    background-color: $color-turquoise;
    transform: rotate(45deg);
    transform-origin: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 1px;
    height: 20px;
    background-color: $color-turquoise;
    transform: rotate(-45deg);
    transform-origin: center;
  }
}

.popup__input-wrap {
  position: relative;
  padding-bottom: 25px;
}

.validation-message {
  position: absolute;
  top: 25px;
  left: 10px;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  background-color: #ffffff;
  border: 1px solid $color-red;
  border-radius: 3px;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 3px;
    border: 5px solid $color-red;
    border-top: none;
    border-right-color: transparent;
    border-left-color: transparent;
  }
}

.button {
  display: block;
  box-sizing: border-box;
  width: 200px;
  padding: 10px;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color-turquoise;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) inset;
  }
}

.popup__button {
  display: block;
  box-sizing: border-box;
  width: 200px;
  margin: 0 auto;
  padding: 5px;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color-turquoise;
  outline: none;

  &--tosave {
    width: 120px;
  }
}

.popup__button:disabled {
  color: $color-grey-light;
  border-color: $color-grey-light;
}

@media screen and (min-width: $tablet-width) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (min-width: $desktop-width) {
  .container {
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
  }
}
