$color-turquoise: #99cccc;
$color-turquoise-light: #d7eeee;
$color-grey: #999999;
$color-grey-light: #cccccc;
$color-red: #f64859;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
